@font-face {
  font-family: 'barbers';
  src: url('./fonts/Rockwell.ttf');
}
.titreEquipe {
  font-family: barbers;
  text-decoration: underline;
  text-transform: uppercase;
}
.paragrapheEquipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.paragraphe1Equipe {
  width: 50%;
  font-size: large;
  font-family: barbers;
}
.divPhoto {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    45deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(47, 47, 47, 1) 29%,
    rgba(80, 80, 80, 1) 29%,
    rgba(124, 124, 124, 1) 59%,
    rgba(106, 106, 106, 1) 59%,
    rgba(255, 255, 255, 1) 94%
  );
  margin: 20px;
  border-radius: 20px;
}
.photoEquipe {
  margin: 20px;
}
.divTotalPhotos {
  display: flex;
  margin: 20px 40px 20px 40px;
  flex-wrap: wrap;
  justify-content: center;
}
.oussama {
  height: 494px;
}
.paragrapheBottomPicture {
  text-align: center;
  margin-top: 0;
  color: white;
  font-family: barbers;
  line-height: 1.5;
}
.nameBarbier {
  font-size: xx-large;
}
.horaireEquipe {
  font-family: barbers;
  text-align: center;
  display: flex;
  justify-content: center;
}
.borderHoraire {
  border: 4px solid #02020240;
  width: 50%;
  margin-bottom: 21px;
}
