@font-face {
  font-family: 'barber';
  src: url('./fonts/RICH\ THE\ BARBER\ PERSONAL\ USE.ttf');
}
/* Header déroulant !

.headerTotality {
  align-items: center;
  position: sticky;
  top: -50px; /* Equal to the height difference between header-outer and header-inner
}
.total {
  position: sticky;
  top: 0;
}
*/
.ligneTop {
  background-color: black;
  height: 20px;
}
.ligneBack {
  background-color: black;
  height: 2px;
  opacity: 0.5;
  margin-top: 5px;
}
.logoDiv {
  display: flex;
  justify-content: center;
}
.logo {
  width: 200px;
}
.headerNav {
  list-style: none;
  color: black;
  display: flex;
  justify-content: space-evenly;
  font-size: 30px;
  padding: 0;
  margin: 0;
  font-family: barber;
}
a {
  text-decoration: none;
  color: black;
}
a:visited {
  color: black;
}
