@font-face {
  font-family: 'Gruppo';
  src: url('./fonts/Gruppo-Regular.ttf');
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postCarousel {
  display: flex;
  font-weight: 600;
  justify-content: center;
}
.fistText {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Gruppo;
  text-align: center;
}

.textP1 {
  text-align: center;
  font-size: 20px;
}
.ligne {
  background-color: black;
  height: 2px;
  width: 50%;
}
.secondText {
  margin-top: 21px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.itineraire {
  font-size: 20px;
  font-family: Georgia;
  width: 135px;
  height: 35px;
  border-width: 2px;
  color: #505739;
  border-color: #333029;
  font-weight: bold;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
  box-shadow: inset 0px 1px 0px 0px #1c1b18;
  text-shadow: inset 0px -4px 0px #ffffff;
  background: linear-gradient(#eae0c2, #ccc2a6);
  cursor: pointer;
}
.itineraire:hover {
  background: linear-gradient(#ccc2a6, #eae0c2);
}
.titleAdresse {
  font-size: 24px;
  font-weight: 600;
  text-decoration: underline;
}
.opening {
  font-size: 20px;
  text-align: justify;
}
.phone {
  text-decoration: underline;
  font-size: 25px;
}

/* Responsive Tablette */
@media screen and (min-width: 425px) and (max-width: 1023px) {
}

/* Responsive Téléphone */

@media screen and (max-width: 767px) {
  .centerCarousel {
    width: 100%;
  }
  .carousel {
    padding: 0px;
  }
  .paragraphe1 {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }
  .titleRealisations {
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .fistText {
    width: 80%;
  }
}
