.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.postCarousel {
  display: flex;
  justify-content: center;
}
.fistText {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.textP1 {
  text-align: center;
  font-size: 20px;
}
.ligne {
  background-color: black;
  height: 2px;
  width: 50%;
}
.secondText {
  margin-top: 21px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.itineraire {
  background-color: black;
  color: white;
}
.titleAdresse {
  font-size: 20px;
  font-weight: 600;
  text-decoration: underline;
}
.opening {
  font-size: 18px;
}
.phone {
  text-decoration: underline;
  font-size: 25px;
}
