body .loader {
  height: 100%;
  background-color: white;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  visibility: hidden;
  cursor: wait;
  -webkit-animation: spinner 2s linear;
  animation: spinner 2s linear;
  animation-duration: 1.5s;
}
body .loader .loader__border {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid transparent;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  visibility: hidden;
}
body .loader .loader__center {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.logoCenter {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}
@-webkit-keyframes spinner {
  0% {
    opacity: 0.9;
    visibility: visible;
  }
  70% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes spinner {
  0% {
    opacity: 0.9;
    visibility: visible;
  }
  70% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
