@font-face {
  font-family: iconebarber;
  src: url('../styles/fonts/Barber\ icone.ttf');
}
@font-face {
  font-family: 'vintage';
  src: url('./fonts/Amarante-Regular.ttf');
}
.titlePrestation {
  font-family: vintage;
  margin-top: 40px;
  font-weight: normal;
}
.containerPrestations {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.divPrestations {
  text-align: justify;
  font-family: vintage;
}
.ulClassique,
.ulTraditionnel {
  list-style: none;
}
.liTraditionnel,
.liClassique {
  font-size: 20px;
}
.teinture {
  font-size: 20px;
  text-align: center;
}
.souligner {
  text-decoration: underline;
}
.borderHoraire {
  font-family: vintage;

  font-size: 20px;
}

/* Responsive Téléphone */

@media screen and (max-width: 425px) {
  .titlePrestation {
    font-size: 25px;
  }
  .divPrestations {
    text-align: center;
  }
  .ulClassique,
  .ulTraditionnel {
    padding-left: 0px;
  }
  .liClassique,
  .liTraditionnel {
    font-size: 15px;
  }
}
