@font-face {
  font-family: 'barbers';
  src: url('./fonts/Rockwell.ttf');
}
@font-face {
  font-family: 'allstar';
  src: url('./fonts/All\ Star\ Resort.ttf');
}
@font-face {
  font-family: 'vintage';
  src: url('./fonts/Amarante-Regular.ttf');
}
.titleRealisations {
  text-decoration: underline;
  text-align: center;
  margin-top: 40px;
  font-family: vintage;
  font-weight: normal;
}
.textRealisations {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.paragraphe1 {
  width: 50%;
  text-align: center;
  font-size: 20px;
  font-family: vintage;
}
.picturesRealisation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 25px 100px 25px 100px;
  padding-top: 5px;
  /* background-color: lightgrey;
  border-radius: 10px; */
}
.photoRealisations {
  margin: 5px;
}
.uneRealisation {
  border-radius: 20px;
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.paragrapheRealisations {
  text-align: center;
  font-size: 20px;
  font-family: vintage;
  margin: 0px 20px 0px 20px;
}
.paragraphe2 {
  margin-top: 55px;
}
.instagramReal {
  width: 120px;
  margin-top: 20px;
}
