@font-face {
  font-family: 'barbers';
  src: url('./fonts/Rockwell.ttf');
}
@font-face {
  font-family: 'allstar';
  src: url('./fonts/All\ Star\ Resort.ttf');
}
@font-face {
  font-family: 'Gruppo';
  src: url('./fonts/Gruppo-Regular.ttf');
}
.titleRealisations {
  text-decoration: underline;
  text-align: center;
  margin-top: 40px;
}
.textRealisations {
  display: flex;
  font-family: Gruppo;
  font-weight: 600;
  flex-direction: column;
  align-items: center;
}
.paragraphe1 {
  width: 50%;
  text-align: center;
  font-size: 20px;
}
.picturesRealisation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 25px 100px 25px 100px;
  padding-top: 5px;
  /* background-color: lightgrey;
  border-radius: 10px; */
}
.photoRealisations {
  margin: 5px;
}
.uneRealisation {
  border-radius: 20px;
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.paragrapheRealisations {
  text-align: center;
  font-size: 20px;
  font-family: Gruppo;
  font-weight: 600;
  margin: 0px 20px 0px 20px;
}
.paragraphe2 {
  margin-top: 55px;
}
.instagramReal {
  width: 120px;
  margin-top: 20px;
}

/* Responsive Tablette */
@media screen and (min-width: 425px) and (max-width: 1023px) {
}

/* Responsive Téléphone */

@media screen and (max-width: 767px) {
  .paragraphe1 {
    width: 80%;
  }
}
